version: "3.9"

services:
  backend:
    build: .
    container_name: backend-app
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - uploads_data:/app/uploads
      - db_data:/app/glorious_church.db
    restart: unless-stopped

volumes:
  uploads_data:
  db_data:

